$primary: #34ace0;
$success: #33d9b2;
$danger: #b33939;
$warning: #ff793f;
$secondary: #2c2c54;
$muted: #ddd;

$min-width: 320px;
$max-width: 1200px;

$container-padding: 15px;

$border-radius: 5px;

$transition: 300ms ease-in;
